name: on-push
run-name: on push to main

on:
  push:
    branches:
      - main

  # run if user manually requests it
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-citations:
    # skip first run because nothing enabled or setup yet
    if: github.run_number != 1
    uses: ./.github/workflows/update-citations.yaml

  update-network:
    needs: update-citations
    if: github.run_number != 1
    uses: ./.github/workflows/update-network.yaml
  
  update-gallery:
    needs: update-citations
    if: github.run_number != 1
    uses: ./.github/workflows/update-gallery.yaml

  build-site:
    needs: [update-citations, update-network, update-gallery]
    uses: ./.github/workflows/build-site.yaml
